.idea

file/storage

front/.idea
front/node_modules
front/package-lock.json
front/*.iml
front/src/.umi

algo/target
algo/.idea
algo/dependency-reduced-pom.xml

dockerfiles/minio/
dockerfiles/mysql/data
dockerfiles/mysql/mysql-files
dockerfiles/nebula/
dockerfiles/redis/data
dockerfiles/spark/