front/.idea
front/node_modules
front/package-lock.json
front/*.iml
front/src/.umi
front/mock

**/.idea
algo/**/target

dockerfiles/minio/config
dockerfiles/minio/data
dockerfiles/minio/minio
dockerfiles/mysql/data
dockerfiles/mysql/mysql-files
dockerfiles/nebula/
dockerfiles/redis/data
dockerfiles/spark/share
dockerfiles/spark/jar
dockerfiles/livy/data

**/__pycache__
**/.pytest_cache